.HomeBackground{
    max-width: 100vw;
    mask-image: linear-gradient(to bottom,rgba(0,0,0,1),rgba(0,0,0,0));
}
.HomeProductContainer{
    position: absolute;
    top: 40vh;
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
 button:hover{
     cursor: pointer;
 }
 a{
     color: inherit;
     text-decoration: none;
 }